/* Part 0 - Main */
:root {
    --background-url: url("Background_Collection/default.jpg");
}
html {
    overflow: hidden;
    height: 100%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    transition: all 0.1s ease;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--background-url);
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
    pointer-events: none;
}
.main-content {
    padding: 15px 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    user-select: none;
}
.header {
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}
.title-container {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
    user-select: none;
}
.title-img {
    width: 400px;
    height: auto;
    display: inline-block;
    max-width: 100%;
    cursor: pointer;
    user-select: none;
}
h2 {
    display: block;
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 16px;
    font-weight: bold;
    user-select: none;
}
h3 {
    display: block;
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 8px;
    font-weight: bold;
    user-select: none;
    text-align: center;
}


/* Part 1 - Sidebar */
.sidebar {
    width: 280px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.2s cubic-bezier(0.2, 0.9, 0.9, 1);
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(3px);
    user-select: none;
}
.sidebar.collapsed {
    transform: translateX(-100%);
}
.sidebar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 100%;
    box-sizing: border-box;
    user-select: none;
}
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: rgba(252, 252, 252, 0.8);
    padding: 16px 32px;
    border-bottom: 2px solid rgba(220, 220, 220, 0.8);
    cursor: pointer;
}

.close-sidebar-button {
    display: block;
    cursor: pointer;
    background: transparent;
    position: relative;
    font-size: 22px;
    margin-right: -16px;
    user-select: none;
}
.open-sidebar-button {
    opacity: 0;
    transition: opacity 0.4s cubic-bezier(0.5, 0.8, 0.9, 1);

    display: block;
    cursor: pointer;
    background: transparent;
    position: fixed;
    font-size: 22px;
    left: 24px;
    top: 24px;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    z-index: 90;
    user-select: none;
}

.sidebar-button {
    position: relative;
    opacity: 1;
    width: 100%;
    height: 45px;

    transition:
        height 0.2s cubic-bezier(0.2, 0.8, 0.9, 1),
        opacity 0.2s cubic-bezier(0.2, 0.8, 0.9, 1);
}
.sidebar-button.hidden {
    opacity: 0;
    height: 0;
}
.button {
    width: 100%;
    height: 100%;
    padding-left: 32px;
    box-sizing: border-box;
    background: transparent;
    color: rgba(252, 252, 252, 0.9);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: bold;
}
.button:hover{
    background-color: rgba(220, 220, 220, 1);
    color: rgba(0, 0, 0, 1);
}
.button.selected {
    background-color: rgba(220, 220, 220, 1);
    color: rgba(0, 0, 0, 1);
}
.button:active {
    background-color: rgba(255, 255, 255, 1);
}

.sidebar-menu {
    width: 100%;
    height: 70px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);

    transition:
            height 0.2s cubic-bezier(0.2, 0.8, 0.9, 1),
            opacity 0.2s cubic-bezier(0.2, 0.8, 0.9, 1);
}
.sidebar-menu.hidden {
    opacity: 0;
    height: 0;
}
.option-row {
    width: 100%;
    height: 50%;
    display: flex;
}
.option {
    height: 100%;
    width: 50%;
    color: rgba(255, 255, 255, 0.8) !important;
    flex: 1;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}
.option:hover {
    background-color: rgba(220, 220, 220, 1);
    color: rgba(0, 0, 0, 1) !important;
}

.info-box {
    display: block;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, 0.8);
    opacity: 1;
    height: 160px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.6;

    transition:
            height 0.2s cubic-bezier(0.2, 0.8, 0.9, 1),
            opacity 0.2s cubic-bezier(0.2, 0.8, 0.9, 1);
}
.info-box.hidden {
    opacity: 0;
    height: 0;
}
.info-line {
    margin-left: 32px;
    display: flex;
    justify-content: start;
    gap: 28px;
}
.info-line-empty {
    height: 10px;
    background: transparent;
}
.info-label {
    width: 50px;
    text-align: left;
}
.info-value {
    flex: 1;
    text-align: left;
}


/* Part 2 - Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 1;

    transition: opacity 0.3s cubic-bezier(0.2, 0.8, 0.9, 1);
}
.modal-content {
    background-color: #fff;
    margin: 30px auto;
    padding: 30px;
    width: 80%;
    max-width: 840px;
    font-size: 14px;
    line-height: 1.6;
    color: #000;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
}
.modal-end {
    display: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: transparent;
}
.modal-container {
    position: fixed;
    z-index: 10;
    bottom: 10%;
    padding: 10px;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px)
}

.close-button {
    position: absolute;
    top: 8px;
    right: 12px;
    font-size: 20px;
    cursor: pointer;
    color: #666;
}
.close-button:hover {
    color: #000;
}

.notice-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 320px;
    user-select: none;
}
.notice-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: transparent;
    border: none;
    padding-bottom: 12px;
    user-select: none;

    transition: height 0.2s cubic-bezier(0.2, 0.8, 0.9, 1);
}
.notice-wrapper-empty {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    user-select: none;

    transition: height 0.1s cubic-bezier(0.2, 0.8, 0.9, 1);
}
.notice {
    width: 100%;
    opacity: 0;
    background: rgba(238, 238, 238, 1);
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;

    transition: opacity 0.2s cubic-bezier(0.2, 0.8, 0.9, 1);
}
.notice:hover {
    background: rgba(255, 255, 255, 1);
}
.notice.test-result {
    background: rgba(255, 220, 220, 1);
}
.notice.test-result:hover {
    background: rgba(255, 232, 232, 1);
}

.notice-title {
    padding: 10px 20px 0 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.notice-content {
    padding: 4px 20px 10px 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.notice-progress {
    height: 5px;
    width: 100%;
    margin-top: -2px;
}


/* Part 3 - Test */
.main-test-container-a {
    position: fixed;
    top: 505px;
    width: 720px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    padding: 0;
    z-index: 10;
    background: transparent;

    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.2, 0.8, 0.9, 1);
}
.main-test-container-a.hidden {
    pointer-events: none;
    opacity: 0;
}
.main-test-container-b {
    position: fixed;
    top: 400px;
    width: 640px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0;
    padding: 0;
    z-index: 10;
    background: transparent;

    opacity: 1;
    transition: opacity 0.3s cubic-bezier(0.5, 0.5, 0.9, 1);
}
.main-test-container-b.hidden {
    pointer-events: none;
    opacity: 0;
}
.test-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding: 0;
    margin-left: -4px;
}
.test-module-a {
    background: transparent;
    width: 100%;
}
.test-module-b {
    background: transparent;
    width: 100px;
}
.test-option-list {
    display: grid;
    grid-template-columns: repeat(2, 40px);
    gap: 0;
    justify-content: left;
    padding-left: 5px;
}
.test-ctrl-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.test-ctrl-b {
    display: grid;
    grid-template-columns: repeat(1, 40px);
    justify-content: left;
    padding-left: 5px;
 }

.test-option {
    font-family: 'Tahoma', 'Microsoft Sans Serif', 'Arial', sans-serif;
    height: 40px;
    width: 40px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: all 0.1s ease;
    user-select: none;
    background: transparent;
    border: none;
}
.test-option.ctrl-a {
    width: auto;
    padding: 0 30px;
    white-space: nowrap;
    color: rgba(200, 20, 20, 1);
    font-size: 18px;
}
.test-option.ctrl-b {
    width: 80px;
    color: rgba(200, 20, 20, 1);
    font-size: 18px;
}
.test-option:hover {
    background: rgba(255, 255, 255, 0.7);
    transform: translateY(-1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.test-option:active {
    transform: translateY(1px);
    box-shadow: none;
}
.test-option.selected::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 12px;
    height: 4px;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 1);
}
.test-option.ctrl-a.selected::after, .test-option.ctrl-b.selected::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 16px;
    height: 4px;
    border-radius: 1px;
    background-color: rgba(200, 20, 20, 1);
}


/* Part 4 - Element / Properties */
.dropdown {
    position: relative;
    width: 100%;
}